.agent-card {
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
  
  background-color: #ece8e1; 
  border: 1px solid #ff4655; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
  font-family: Arial, sans-serif;
}

.agent-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.agent-info {
  padding: 16px;
  text-align: left;
}

.agent-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #111; 
  margin-top: 0;
  margin-bottom: 10px;
}

.agent-description {
  font-size: 1rem;
  color: #333;
  line-height: 1.4;
}